@import url(http://fonts.googleapis.com/css?family=Montaga);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 740px;

    background: #151d30;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#CCF3DE), to(#8BCADE));
    background: -webkit-radial-gradient(rgb(#CCF3DE), rgb(#8BCADE));
    background:    -moz-radial-gradient(rgb(#CCF3DE), rgb(#8BCADE));
    background:     -ms-radial-gradient(rgb(#CCF3DE), rgb(#8BCADE));
    background:      -o-radial-gradient(rgb(#CCF3DE), rgb(#8BCADE));
    background:         radial-gradient(rgb(#CCF3DE), rgb(#8BCADE));
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    /* background: rgba(255,255,255,0.5); */
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.bulletlist {
    list-style-type:disc;
    list-style-position:inside;
    text-align: justify;
}
.code {
    background: #6E6E6E;
    font-family: 'Inconsolata', Open Sans;
    color: #F5DA81;
    text-align: justify;
    padding: 2px;
 }

 .step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Ubuntu', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.step .footref{
    position: absolute;
    font-size: 20px; 
    bottom: 0px;
    right: 0px;
}
    
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.imgslide {
    display: block;
    width: 1000px;
    height: 700px;
    padding: 0px;
    margin: 0 auto;
  
    position: absolute;

    -webkit-transform: translate3d(0, 0, 0);
}

.slide {
    display: block;
    width: 900px;
    height: 700px;
    padding: 40px 60px;

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	text-align: center;

    font-family: 'Ubuntu', Open Sans, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.slide .head {
    color: #210B61;
	font-size: 80px;
	top: -0.7em;
	position: relative;
}

#title {
    padding: 0;
}

#title .try {
    font-family: 'Montaga', Open Sans, sans-serif;
    font-size: 100px;
    position: inherit;
    top: -0.5em;
    left: 2.0em;
	color: #210B61;
	
    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
	font-size: 225px;
	position: inherit; 
    top: -1.35em;
	color: #210B61;
	
    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title h2 {
	font-size: 35px;
	text-align: left;
	position: absolute; 
    top: 4.5em;
	left: 1.0em;
	color: #210B61;
}	

#title .footnote {
    font-size: 32px;
	text-align: left;
}

#version img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
    opacity: 1;
    height: 100%;
    width: 100%;
}

#history .im1 {
    position: inherit;
    top: 0px;
    left: 0px;
    height: 45%;
    width: 30%;
    z-index: -1;
}

#history .im2 {
    position: inherit;
    right: 0px;
    top: 0px;
    height: 45%;
    width: 35%;
    z-index: -3;
}

#history .im3 {
    position: inherit;
    bottom: 0px;
    left: 280px;
    height: 70%;
    width: 45%;
    z-index: -5;
}

#introduce-yourself p {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style:    preserve-3d;
    -ms-transform-style:     preserve-3d;
    -o-transform-style:      preserve-3d;
    transform-style:         preserve-3d;
}

#introduce-yourself span,
#introduce-yourself b {
    display: inline-block;
    -webkit-transform: translateZ(40px);
    -moz-transform:    translateZ(40px);
    -ms-transform:     translateZ(40px);
    -o-transform:      translateZ(40px);
     transform:        translateZ(40px);

    -webkit-transition: 1.5s;
    -moz-transition:    1.5s;
    -ms-transition:     1.5s;
    -o-transition:      1.5s;
    transition:         1.5s;
}

#introduce-yourself .tp {
    -webkit-transform: translateZ(-400px);
    -moz-transform:    translateZ(-400px);
    -ms-transform:     translateZ(-400px);
    -o-transform:      translateZ(-400px);
    transform:         translateZ(-400px);
    
    -webkit-transition: 1.5s;
    -moz-transition:    1.5s;
    -ms-transition:     1.5s;
    -o-transition:      1.5s;
    transition:         1.5s;
}

#introduce-yourself .pull {
    -webkit-transform: translateZ(200px);
    -moz-transform:    translateZ(200px);
    -ms-transform:     translateZ(200px);
    -o-transform:      translateZ(200px);
    transform:         translateZ(200px);
    
    -webkit-transition: 2.5s;
    -moz-transition:    2.5s;
    -ms-transition:     2.5s;
    -o-transition:      2.5s;
    transition:         2.5s;
}

#introduce-yourself .push {
    -webkit-transform: translateZ(160px);
    -moz-transform:    translateZ(160px);
    -ms-transform:     translateZ(160px);
    -o-transform:      translateZ(160px);
    transform:         translateZ(160px);
    
    -webkit-transition: 3.5s;
    -moz-transition:    3.5s;
    -ms-transition:     3.5s;
    -o-transition:      3.5s;
    transition:         3.5s;
}

#introduce-yourself.present span,
#introduce-yourself.present b,
#introduce-yourself.present p {
    -webkit-transform: translateZ(0px);
    -moz-transform:    translateZ(0px);
    -ms-transform:     translateZ(0px);
    -o-transform:      translateZ(0px);
    transform:         translateZ(0px);
}

#in-a-nutshell img {
    position: relative;
    width: 100%;
    z-index: -1;
}

#overview { display: none }

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.hint {

    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    padding: 20px;

    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-bored .hint {
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
